{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/login/css/style.css' %}">
    <title>بازیابی رمز عبور </title>
    <link rel="icon" type="image/x-icon" href="{% static 'blog/assets/blog.png' %}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
    {% if form.non_field_errors %}
        <div class="errors">
            {% for error in form.non_field_errors %}
                    <span>{{error}}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
      
        <!-- form begin -->
        <form method="post" >
            {% csrf_token %}

            <!-- title form -->
            <h3> فراموشی گذرواژه</h3>
            
            <!-- end of title form -->
            {% if validlink %}
                <div class="input_box">
                    <span>گذرواژه  </span>
                    <div class="box">
                        <div class="icon">
                            <i class="uil uil-key-skeleton"></i>
                        </div>
                        {{form.new_password1|add_class:"input"}}
                        <i class="uil uil-eye-slash eye toggle"></i>
                    </div>
                </div>
                {% if form.new_password1.errors %}
                    <span>{{form.new_password1.errors}}</span>
                {% endif %}

                <div class="input_box">
                    <span>تایید گذرواژه  </span>
                    <div class="box">
                        <div class="icon">
                            <i class="uil uil-key-skeleton"></i>
                        </div>
                        {{form.new_password2|add_class:"input"}}
                    </div>
                </div>
                {% if form.new_password2.errors %}
                    <span>{{form.new_password2.errors}}</span>
                {% endif %}
            <div class="input_box">
                <div class="box">
                    <input type="submit" value=" انجام">
                </div>
            </div>
            <a href="{% url 'login' %}" class="forgot" style="float:right"> ورود به سایت</a>
            {% else %}
                 <p style="color:#fff;text-align:right;font-size:17px">لینک منقضی شده است.برای بازیابی رمز عبور دوباره <a style="color: #ff2c74;text-decoration:none;" href="{% url 'password_reset' %}">کلیک کنید</a></p>
            {% endif %}
        </form>
        <!-- end of form begin -->
    </div>

    <!-- script for icon -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- end of script icon -->

    <!-- script toggle for password -->
    <script>


        const toggle = document.querySelector(".toggle"),
              input = document.querySelector('.input');

              toggle.addEventListener('click',() =>{
                if(input.type ==='password'){
                    input.type = 'text';
                    toggle.classList.replace("uil-eye-slash","uil-eye");
                }else{
                    input.type = "password";
                    toggle.classList.replace("uil-eye","uil-eye-slash");
                }
            })
    </script>
    <!-- end of script toggle for password -->
</body>
</html>